RAG N8N Project.json
{
  "name": "RAG N8N Project",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1sWhCk2HjwEzhR_kkhUVqUynnedeKBJpI",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1sWhCk2HjwEzhR_kkhUVqUynnedeKBJpI"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -340
      ],
      "id": "5b023f57-cd20-48ed-b7d1-2a7bb23fa91b",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WVE3eOgVArGeS3gl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        460,
        -200
      ],
      "id": "0710b10a-c065-4b2c-8fac-f184c925d23b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "n8n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        320,
        -440
      ],
      "id": "43cd4af9-993e-4ea6-9d32-07b504ec0c16",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "kbRpun7hBlVAoQse",
          "name": "PineconeApi account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        -200
      ],
      "id": "9c356ee7-cc95-4f21-86b6-500cade677c9",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "j8B3GTURTD5xdxyW",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        20,
        -340
      ],
      "id": "3f6b7d35-a526-4719-851e-52aafbadcfad",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WVE3eOgVArGeS3gl",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1500,
        -260
      ],
      "id": "45a12d3a-858f-4287-a126-1887b51775be",
      "name": "When chat message received",
      "webhookId": "c2b2d360-12ad-4eb9-ae5f-8874f7423043"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=reply to this input : {{ $json.chatInput }} using the details stored in pinecone vector. PLease say I don't know incase the details are not present in the databse. do not hallucinate. DO not give headers and footers and do not se hypens.",
        "options": {
          "systemMessage": "You are a helpful assistant.\n\n**Role**: \nyour task is to related details from pinecone vector\n\n**Tools**:\nuse **Q&A** tool to find the context from the vector database give relevant and correct results to the questions asked in the chat\n**tasks**:\nyou will serve the answers from the query according to the questions asked in the chat\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1880,
        -260
      ],
      "id": "a99bae47-8a25-4c70-97f1-0a580a9c6dbb",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1960,
        -40
      ],
      "id": "d4913ca6-4b62-46ee-a91f-034aa57b3efe",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-n8n",
          "mode": "list",
          "cachedResultName": "rag-n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2120,
        140
      ],
      "id": "abec5d93-c59b-44c0-bb3a-a7549ba7521c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ziY6B04C339ryEey",
          "name": "PineconeApi account 5"
        }
      }
    },
    {
      "parameters": {
        "description": "You are a helpful tool, answer the queries according to the data received from the database. \nplease do not answer anything extra. please refure if you do not know the answer",
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2240,
        -100
      ],
      "id": "a865b5a7-c7b0-48eb-a99b-dba9505b74a9",
      "name": "Q&A tool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1640,
        20
      ],
      "id": "245f5bbc-8d6f-43c5-9e96-28609dd584d5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "j8B3GTURTD5xdxyW",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2200,
        360
      ],
      "id": "b4807fe9-690d-455a-8b6e-c89bab59bd1b",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "j8B3GTURTD5xdxyW",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2360,
        120
      ],
      "id": "88c72972-b559-4bb0-9d92-d1c195e31f68",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "j8B3GTURTD5xdxyW",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Q&A tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Q&A tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Q&A tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f29b1e6-2d97-4230-8897-7dd4fb854464",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "692c24b9f02e041cf14e8cd03c02355c5ca6f703c87ea2aacddd6e53b8be4efa"
  },
  "id": "KpAv1hhQcPowS0Iw",
  "tags": []
}